body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  line-height: 1.6;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header1 ul li {
  margin-left: 20px;
}

.header1 ul li a {
  text-decoration: none;
  color: rgb(58, 145, 204);
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.header1 ul li a:hover {
  background-color: rgb(59, 139, 214);
  color: white;
  padding: 15px;
}

.main-pertama {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37517e;
  padding: 50px 20px 50px 20px;
}

.satu,
.dua {
  width: 50%;
}

.satu {
  color: white;
  padding: 50px 50px;
}

.satu h1 {
  font-size: 2.5rem;
  max-width: 700px;
}

.satu .deskripsi {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 700px;
}

.satu .button {
  display: flex;
  gap: 20px;
}

.satu .button a {
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.button-1,
.button-2 {
  color: white;
}

.button-1:hover,
.button-2:hover {
  background-color: #65c0eb;
  color: white;
}

.dua .img1 {
  width: 500px;
}

.main-kedua {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px;
  background-color: #f8f9fa;
  color: #37517e;
  font-weight: bold;
}

.input-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 10px;
}

.input-main input {
  border-radius: 30px 0 0 30px;
  padding: 10px 20px;
  width: 700px;
  font-size: 16px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-main button {
  background-color: #65c0eb;
  color: white;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  transition: background-color 0.3s ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-main button:hover {
  background-color: #5bb7e2;
}

footer{
  color: #37517e;
}

.footer-atas {
  display: flex;
  justify-content: space-between;
  padding: 20px 90px;
  margin: 0;
}

.footer-atas div {
  flex: 1;
  min-width: 200px;
}

.footer-atas h3 {
  font-size: 25px;
  margin: 20px 0 0 0;
  padding-bottom: 0;
}

.footer-atas h4 {
  font-size: 15px;
  margin: 20px 0 0 0;
}

.footer-atas ul {
  list-style: none;
}

.footer-atas ul li {
  margin-bottom: 10px;
}

.footer-atas ul li a {
  color: #37517e;
  text-decoration: none;
}

.footer-atas ul li a:hover {
  text-decoration: underline;
}

.img2 {
  width: 300px;
}

.footer-bawah {
  background-color: #37517e;
  color: white;
  padding: 5px 0 5px 90px;
}
