body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c8aae4;
}

header {
  text-align: center;
  background-color: #3d2241;
  color: #fff;
  padding: 20px;
}

section {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.flex-item {
  width: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 20px;
  gap: 20px;

}

.grid-item {
  width: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
}

.flex-item img,
.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.flex-item p,
.grid-item p {
  margin-top: 10px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
/* sifa sahira_F55123059 */

